*.log
.vscode/
.idea/
__pycache__/
ffmpeg.exe
TODO
.VSCodeCounter/
.mypy_cache
db_data/game.sqbpro
db_data/databases
db_data/mysql_tables.py
fixes.txt
*.db
databases.zip
patches.txt
output
*.code-workspace
words.json
.gitignore
.dockerignore
*.env
bot_strings/
cogs/Secret.py
creds/
*.mo
/Wov Cache