*.log
.vscode/
.idea/
__pycache__/
ffmpeg.exe
TODO
.VSCodeCounter/
.mypy_cache
db_data/game.sqbpro
fixes.txt
*.db
databases.zip
patches.txt
output
*.code-workspace
words.json
.gitignore
.dockerignore
*.env
bot_strings/
cogs/Secret.py
creds/
*.zip
node_modules/
.pylintrc
db_data/
Wov Cache/
bot_config_perma.json
*.mo